/* ---------- Common rules -----------*/

body {
  max-width: 1600px;
  background-color: #fff;
  color: #212121;
  font-family: 'Roboto', 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.benefits-list,
.services-list,
.site-nav,
.team-list,
.footer-list,
.example-list,
.filter-buttons-list,
.contacts-list {
  list-style-type: none;
}
img {
  display: block;

  max-width: 100%;
  height: auto;
}

/* -------------- Header --------------- */
.logo {
  margin-right: 93px;

  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-word {
  color: #2196f3;
}
.logo-word-footer {
  color: #fff;
}
.site-nav {
  display: flex;
  margin-right: 344px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: inline-block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
}
.site-nav .link.current {
  color: #2196f3;
}
.link.contacts {
  color: #757575;
}
.contacts-list {
  display: flex;
}
.contacts-list .item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list .link {
  display: inline-block;

  padding-top: 32px;
  padding-bottom: 32px;
}
.container.header {
  display: flex;
  align-items: center;
}
.header-box {
  border-bottom: 1px solid #ececec;
}

/* -------------- Hero section------------ */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  color: #fff;

  text-align: center;
}
.hero-title {
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 696px; */

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.hero-button {
  padding: 10px 32px 10px 32px;

  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
}

/* ------------- Benefits section --------- */

.container.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-title {
  display: none;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-list .title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-list .desc {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.benefits-list .item:not(:last-child) {
  margin-right: 30px;
}

/* ------------- Services section ----------- */

.services-title,
.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.container.services {
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: space-between;
}
.services-list .item:not(:last-child) {
 margin-right: 30px;
}

/* ------------- Team section ----------- */

.team-section {
  background-color: #f5f4fa;
}
.team-photos {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-photos > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-photos > p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}





.footer-section {
  text-decoration: none;
  background-color: #2f303a;
}
.address {
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.filter-buttons {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-buttons:hover,
.filter-buttons:focus {
  background-color: #2196f3;
  color: #fff;
}
.example-list h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-list p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-title {
  display: none;
}
